      
      *{
        box-sizing: border-box;
      }
      body{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: rgba(197, 104, 119, 0.678);    
      }

      .whole-con{
        width: 400px;
        padding: 40px;
        box-shadow:  0 4px 15px rgba(0,0,0,0.2);
        border-radius: 10px;
        background-color: white;
         font-size: 13px;
      }
      .caa{
        font-size: 17px;
        font-weight: bold;
      }
      .fist-v-flex{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:12px;
      }
      .name,.last-name
       {
        width: 100%;
        padding: 10px;
        border-style: solid;
        border-radius: 8px;
      }
      .email, .password
       {
        width: 100%;
        padding: 10px;
        border-radius: 8px;
        border-style: solid;
      }
      .checkbox{
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-items: center;
        gap: 10px;
      }
      .or-con{  
        text-align: center;
      }
      .createacc{
        width: 100%;
        padding: 12px;
        border: none;
        border-radius: 8px;
        background-color: rgb(55, 55, 194);
        margin-top: 10px;
        font-size: 13px;
         font-weight:600;
         color: white;
      } 
      .Google{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 8px;
        background-color: green;
        margin-top: 10px;
        font-size: 13px;
        font-weight: 600;
        color: white;
      }
      .g-logo,.a-logo{
        width: 20px;
        height: 20px;
        border-radius: 50%; 
      }
       .a-logo{
        width: 25px;
        height: 25px;
        border-radius: 50%; 
      }
       .Apple{
        display: flex;
        align-items: center;
        justify-content: center;
        gap:8px;
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 8px;
        background-color: orange;
        margin-top: 10px;
        font-size: 13px;
        font-weight: 600;
        color: white;
      }
      
      @media (max-width: 450px) {
  .fist-v-flex {
    grid-template-columns: 1fr;
  }
}

  


  